<div class="wrapper">
  <div class="">
    <div class="row">
      <div class="col-xs-7">
        <div id="map" style="width: 100%; height: 90vh;"></div>
      </div>
      <div class="col-xs-5">
        <%= render 'search-form' %>
        <div class="cards">
          <% @places.each do |place| %>
            <%= place.name %>
            <% if place.photos.any? %>
              <div class="card" id ="card-home"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                     url('<%= cl_image_path place.photos.first.path, height: 300, width: 400, crop: :fill %>')">
            <% else %>
              <div class="card" id ="card-home"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
            <% end %>

            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Some stuff</h2>

              <p>Very cool stuff, useful and smart</p>
            </div>
            <%= link_to "", "#", class: "card-link", id: "#{place.id}" %>
            <!-- <a class="card-link" href="#" ></a> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      <!-- style snazzy map -->
      var styles = [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
      ];

      var handler = Gmaps.build('Google');
      handler.buildMap({
      provider: {
          styles: styles
          <!-- // pass in other Google Maps API options here -->
          <!-- // => https://developers.google.com/maps/documentation/javascript/reference#MapOptions -->
        },
      internal: { id: 'map' } }, function() {

        markers = handler.addMarkers(<%= raw @hash.to_json %>);

         _.each(<%= raw @hash.to_json %>, function(json, index){
          var marker = markers[index];
          $("#" + json.id).on('mouseenter', function() {
            marker.getServiceObject().setAnimation(google.maps.Animation.BOUNCE);
          });
          $("#" + json.id).on('mouseleave', function() {
            marker.getServiceObject().setAnimation(null);
          });
        });



        handler.bounds.extendWith(markers);
        <!-- zoom the map at the good level -->
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>>
<% end %>
