<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>
<%= @place.name %>
<% if @place.photos.any? %>
  <% @place.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <% end %>
<% else %>
  <p>nothing</p>
<% end %>

<h3 id="review-title">
  <%= render 'places/review_title' , reviews: @place.reviews %>
</h3>

<div id="reviews">
  <% if @place.reviews.blank? %>
    <%= render "places/no_reviews", place: @place %>
  <% else %>
    <% @place.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', place: @place, review: @review %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @place_coordinates.to_json %>;
      alert('Place coordinates are ' + coord.lat + ', ' + coord.lng);
      alert('<%= j @alert_message %>');
    });
  <% end %>
<% end %>
